:root {
  
}

.sidebar {
  height: calc(100vh - 90px);
  position: relative;
  z-index: 100;
  width: 240px;
  background-color: var(--sidebar-bg);
  height: 100%;
  padding-top: 70px;
  padding-bottom: 54px;
}

.sidebar-wapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  display: block;
}

.navbar-brand {
  width: 240px;
  height: 70px;
  position: fixed;
  top: 0;
  padding: 0 25px 0 28px;
  display: flex;
  align-items: center;
}
.navbar-logo__link {
  width: 120px;
  height: 40px;
}

.navbar-main {
  position: relative;
  width: 100%;
  overflow: auto;
}

.navbar-item {
  font-weight: 700;
  color: var(--navigation-text);
  border-left: 3px solid transparent;
}

.navbar-item.active {
  background-color: var(--alpha-bg);
  color: var(--text-item-hover);
  border-left: 3px solid var(--purple-primary);
}

.navbar-item a {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  padding: 8px 25px;
}

//divide
.sidebar-divide {
  position: relative;
  height: 1px;
  margin-top: 20px;
}
.sidebar-divide:after {
  content: "";
  border-top: 1px solid var(--border-primary);
  position: absolute;
  left: 25px;
  right: 25px;
  top: 0;
}

.navbar-under {
  overflow: hidden scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: 176px;
  &:hover::-webkit-scrollbar {
    display: block;
  }
}




.login-nav-container {
    width: 200px;
  padding: 15px 8px;
  border-radius: 8px;
  margin: 10px 20px;
  text-align: center;
  color: var(--white);
  background-color: var(--purple-primary);
  margin-top: 15px !important;
}

.add-playlist-sidebar{
  border-top: 1px solid var(--border-primary);
  height: 46px;

  button {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }
}
.add-playlist-title {
  display: flex;
    align-items: flex-start;
    font-size: 13px;
    font-weight: 700;
    padding: 8px 25px;
    color: var(--white);
  i {
    font-size: 18px;
  }
}